body {
    margin: 0;
}

#game {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

#container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}

.mole {
    position: absolute;
    width: 55px;
    height: 50px;
    background-image: url('./pic/maou.png');
    background-size: cover;
    transition: opacity 0.5s;
}

.mole.hit {
    background-image: url('./pic/attack.png');
    opacity: 0;
    transition: opacity 0.5s;
}